<header class="site-header">
	<h1 class='name'><a href='/'>mitcho</a> <span>Michael <abbr title='Yoshitaka'>芳貴</abbr> Erlewine</span></h1>

	<p>Postdoctoral fellow, <a href='http://www.mcgill.ca/linguistics/'>McGill Linguistics</a>.</p>
		
	<div id='imagewrap'><div id='image'></div></div>
		
	<div id='nav'>
		<ul>
			<li><a href="/research">research</a> (<a href="/academic/erlewine-cv.pdf">PDF cv</a>)</li>
			<li><a href="/code/">code</a> (<a href="https://github.com/mitcho">GitHub</a>)</li>
			<li>photos: <a href="https://secure.flickr.com/photos/themitcho">flickr</a>, <a href="https://instagram.com/mitcho">Instagram</a></li>
			<li class="twitter"><a href="https://twitter.com/themitcho">twitter</a></li>
		</ul>
	</div>
</header>
