<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
	<title>{% if page.title %}{{ page.title | strip_html }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{% if page.nosidebar == null %}Michael Yoshitaka ERLEWINE (mitcho): {% endif %}{{ page.title | strip_html }}{% endif %}">

	<link rel="icon" href="/static/images/m.png">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | replace: 'http://mitcho.com/', '/' }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{% if page.paper != null and page.paper.entryType != 'unpublished' %}
{% include paper-meta.html paper = page.paper %}
{% endif %}

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="/static/js/zepto.min.js"></script>
	<script src="/static/js/app.js"></script>

	<!--<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />-->
</head>
