<header class="site-header">
	<h1 class='name'><a href='/'>mitcho</a> <span>Michael Yoshitaka Erlewine</span></h1>

	<p>Linguist, <a href='https://www.helsinki.fi/en/helsinki-collegium-advanced-studies'>University of Helsinki</a> and <!-- Associate Professor,  --><span><a href='https://fass.nus.edu.sg/elts/'>National University of Singapore</a></span></p>
		
	<div id='imagewrap'>
	<img id='image' src="/static/images/hcas-540x300.jpeg" 
		srcset="/static/images/hcas-270x150.jpeg 270w, 
			/static/images/hcas-540x300.jpeg 540w,
			/static/images/hcas-900.jpeg 900w" alt="mitcho">
	<img id='image-sq' src="/static/images/hcas-sq300.jpeg" 
		srcset="/static/images/hcas-sq150.jpeg 150w, 
			/static/images/hcas-sq300.jpeg 300w, 
			/static/images/hcas-sq900.jpeg 900w" alt="mitcho">

	</div>
		
	<div id='nav'>
		<ul>
		{% for item in site.data.nav %}
			<li>{% if item.href != null %}<a href='{{item.href}}'>{{item.title}}</a>{% else %}{{item.title}}{% endif %}
				
				{% if item.sub != null %}
					({% for subitem in item.sub %}{% if subitem.href != null %}<a href='{{subitem.href}}'{% if subitem.event != null %} data-event='{{subitem.event}}'{% endif %}>{{subitem.title}}</a>{% else %}{{subitem.title}}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %})
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
</header>
