<header class="site-header">
	<h1 class='name'><a href='/'>mitcho</a> <span>Michael Yoshitaka Erlewine</span></h1>

	<p>Linguist, Assistant Professor, <span><a href='http://www.fas.nus.edu.sg/ell/'>National University of Singapore</a></span></p>
		
	<div id='imagewrap'>
	<img id='image' srcset="/static/images/littleindia-270x150.jpg, /static/images/littleindia-270x150x2.jpg 2x" src="/static/images/littleindia-270x150.jpg" alt="mitcho">
	</div>
		
	<div id='nav'>
		<ul>
		{% for item in site.data.nav %}
			<li>{% if item.href != null %}<a href='{{item.href}}'>{{item.title}}</a>{% else %}{{item.title}}{% endif %}
				
				{% if item.sub != null %}
					({% for subitem in item.sub %}{% if subitem.href != null %}<a href='{{subitem.href}}'{% if subitem.event != null %} data-event='{{subitem.event}}'{% endif %}>{{subitem.title}}</a>{% else %}{{subitem.title}}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %})
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
</header>
