<a name='{{ include.key | uri_escape }}'></a>
{% if include.project.title != null %}
<h2>{{include.project.title | markdownify}}</h2>
{% endif %}

{% if include.project.description != null %}
{{ include.project.description | markdownify | replace: "<br />", "</p><p>" }}
{% endif %}

<ul class='research-group'>
{% for paper in include.papers %}
	{% unless paper.keywords contains 'hidden' %}
	<li>{% include research-single-formal.html paper = paper projectlink = true %}</li>
	{% endunless %}
{% endfor %}
</ul>
