{% assign paper = include.paper %}

{% capture title %}“{{paper.title}}{% unless paper.authors.size > 1 %}.{% endunless %}”{% endcapture %}

{% if paper.entryType == 'phdthesis' %}
	{% capture title %}<em>{{paper.title}}</em>.{% endcapture %}
{% endif %}

{% capture pages %}{% if paper.pages != null %}, pages {{ paper.pages | replace:'--','&ndash;' }}{% endif %}{% endcapture %}

{{paper.year}}:
	{% if include.projectlink != null %}
		<a class='title' href='/research/{{paper.citationKey | slugify}}.html'>{{title}}</a>
		{% if paper.url != null %}<a href='{{paper.url}}' data-event="{{paper.citationKey}}"><span alt='download' class='file pdf small'>&nbsp;</span></a>
		{% endif %}
	{% else %}
		{% if paper.url != null %}<a href='{{paper.url}}'>{{title}}</a>
		{% else %}{{title}}
		{% endif %}
	{% endif %}

{% if paper.authors.size > 1 %}
with {{ paper.othersHtml | array_to_sentence_string }}.
{% else %}
{% endif %}

{% if paper.journal != null %}
In <em>{{paper.journal}}</em>{% if paper.volume != null %} {{paper.volume}}{% if paper.number != null %}:{{paper.number}}{% endif %}{% endif %}{{pages}}.
{% endif %}

{% if paper.booktitle != null %}
In <em>{{paper.booktitle}}</em>{{pages}}.
{% endif %}

{% if paper.note != null %}
{{paper.note}}.
{% endif %}

{% if paper.entryType == 'phdthesis' %}
{{paper.school}} dissertation.
{% endif %}

{% if paper.entryType == 'mastersthesis' %}
{{paper.school}} MA thesis.
{% endif %}