{% assign paper = include.paper %}

{% capture title %}“{{paper.title}}.”{% endcapture %}

{% if paper.entryType == 'phdthesis' %}
	{% capture title %}<em>{{paper.title}}</em>.{% endcapture %}
{% endif %}
{% if paper.entryType == 'book' %}
	{% capture title %}<em>{{paper.title}}</em>.{% endcapture %}
{% endif %}

{% capture pages %}{% if paper.pages != null %}, pages {{ paper.pages | replace:'--','&ndash;' }}{% endif %}{% endcapture %}

{% if paper.authorsHtml != null %}
	{{ paper.authorsHtml | array_to_sentence_string }}, {{paper.year}}.
{% else %}
	Edited by {{ paper.editorsHtml | array_to_sentence_string }}, {{paper.year}}.
{% endif %}

{% if include.projectlink != null %}
	<a class='title' href='/research/{{paper.citationKey | slugify}}.html'>{{title}}</a>
	{% if paper.url != null %}<a href='{{paper.url}}' data-event="{{paper.citationKey}}"><span alt='download' class='file pdf small'>&nbsp;</span></a>
	{% endif %}
{% else %}
	{% if paper.url != null %}<a href='{{paper.url}}'>{{title}}</a>
	{% else %}{{title}}
	{% endif %}
{% endif %}

{% if paper.journal != null %}
In <em>{{paper.journal}}</em>{% if paper.volume != null %} {{paper.volume}}{% endif %}{{pages}}.
{% endif %}

{% if paper.booktitle != null %}
In <em>{{paper.booktitle}}</em>{{pages}}.
{% endif %}

{% if paper.entryType == 'book' %}
{{ paper.publisher }}.
{% endif %}


{% if paper.note != null %}
{{paper.note}}.
{% endif %}

{% if paper.entryType == 'phdthesis' %}
{{paper.school}} dissertation.
{% endif %}

{% if paper.entryType == 'mastersthesis' %}
{{paper.school}} MA thesis.
{% endif %}