@use "sass:color";
@use "vars" as *;

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
	font-stretch: expanded;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

li {
	padding-bottom: 4pt;
	&:last-child {
		padding-bottom: 0pt;
	}
}

small {
	font-size: $small-font-size;
}

em {
	font-style: italics;
}

strong {
	font-weight: bold;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: calc($spacing-unit / 2);
	&:last-child {
		margin-bottom: 0px;
	}
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: 600;
	line-height: 1.25;
//	margin: 0 0 20px;
	text-rendering: optimizeLegibility;
}

h1, h1 a, h1.name a {
	font-size: 28px;
	color: color.adjust($text-color, $lightness: -30%);
}

h2, h2 a {
	color: color.adjust($text-color, $lightness: -20%);
}

h3, h4, h5, h6 {
	color: color.adjust($text-color, $lightness: -10%);
}

h1.name span {
	display: block;
	font-size: 0.7em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

	&:hover {
		color: $visited-color;
		text-decoration: none;
	}

    &:visited {
        color: color.adjust($brand-color, $lightness: -15%);
    }
}

/**
 * Pills
 */

/* <a/span class='pill'></a> */

.pill {
	font-size: $small-font-size;
	color: $grey-color;
	background-color: color.adjust($brand-color, $lightness: 45%);
	display: inline-block;
	text-decoration: none;
	border-radius: 6px;
	padding: 4px;
	margin-right: 5px;
	line-height: $pill-height;
	margin-bottom: 8px;
	
	&:hover, &:focus, &:active {
		color: $grey-color-dark;
		background-color: color.adjust($brand-color, $lightness: 35%);
	}
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: calc($spacing-unit / 2);
    > :last-child {
        margin-bottom: 0;
    }
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 13px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: $code-bg-color;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/* Del + Ins */
ins {
	color: green;
	text-decoration: none;
}
del {
	color: red;
	text-decoration: strikethrough;
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
 * Inline extras
 */
.warning {
	border: 1px solid #fdd;
	border-radius: 5px;
	padding: 10px;
	background: #fee;
}

.files {
	margin: 0.4em 0 2em 0em;
	line-height: normal;

	.specs{ color: #999; font-size: 80%; padding-top: 0em; }
}
.file {
	min-height: 32px;
	padding: 4px;
	padding-left: 40px;
	background: url(file.png) no-repeat;
	background-position: 0px 4px;

	transition: background-color 0.4s ease;
	&:hover {
		background-color: #eee;
		cursor: pointer;
	}

	.title:last-child {
		top: 6px;
		position: relative;
	}

	&.small {
		background-size: 16px 16px !important;
		padding: 0px 2px;
		width: 17px;
		display: inline-block;
		min-height: none;
		margin-bottom: -10px;
		&:hover {
			background-color: inherit;
			cursor: inherit;
		}
	}

	&.pdf {
		background-image: url(noun-pdf.png);
		background-size: 32px;
	}
	&.zip {
		background-image: url(noun-zip.png);
		background-size: 32px;
	}
	&.doi {
		background-image: url(doi.png);
		background-size: 32px;
	}
}




.research-group li {
	padding: 3px;
	transition: background-color 0.4s ease;
	&:hover {
		background-color: #eee;
		cursor: pointer;
	}
}

.fourohfour {
	width: 560px;
	height: 315px;
	@include media-query($on-phone) {
		width: 100%;
	}
}

.citation {
	@extend %vertical-rhythm;
}

.vcard {
	display: none;
}