/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
	font-stretch: expanded;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

small {
	font-size: $small-font-size;
}




/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: 600;
	line-height: 1.25;
//	margin: 0 0 20px;
	text-rendering: optimizeLegibility;
}

h1, h1 a, h1.name a {
	font-size: 28px;
	color: darken($text-color, 30%);
}

h2, h2 a {
	color: darken($text-color, 20%);
}

h3, h4, h5, h6 {
	color: darken($text-color, 10%);
}

h1.name span {
	display: block;
	font-size: 0.7em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

	&:hover {
		color: $visited-color;
		text-decoration: none;
	}

    &:visited {
        color: darken($brand-color, 15%);
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 13px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: $code-bg-color;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/* Del + Ins */
ins {
	color: green;
	text-decoration: none;
}
del {
	color: red;
	text-decoration: strikethrough;
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
 * Inline extras
 */
.warning {
	border: 1px solid #fdd;
	border-radius: 5px;
	padding: 10px;
	background: #fee;
}

.files {
	margin: 0.4em 0 2em 0em;
	line-height: normal;

	.specs{ color: #999; font-size: 80%; padding-top: 0em; }

	.file {
		padding-left: 40px;
		background: url(file.png) no-repeat;

		&.pdf {
			background-image: url(pdf.png);
		}
		&.zip {
			background-image: url(zip.png);
		}
		&.rss {
			background-image: url(rss.png);
		}
	}
}
