/* 
  COLUMN 1
 */

.col1 {
	// Positioning context for the mobile navigation icon
	// position: relative;
	width: $nav-width;
	float: left;
	position: fixed;
	
	padding: $col-padding + $body-padding;
	padding-right: $col-padding;
}

.site-header {
	@extend .col1;

	ul {
		padding-left: 0px;
		margin: 0px;
		li {
			list-style: none;
		}
	}
	
	h1.name span {
		display: inline-block;
	}
	p span {
		display: inline-block;
	}

	#imagewrap {
		width: $nav-width;
		overflow: hidden;
		margin-bottom: 15px;
	}
	#image {
		width: $nav-width;
		height: 150px / 270px * $nav-width;
	}
}

.site-footer {
	@extend .col1;

//	border-top: 1px solid $grey-color-light;
//	padding: $spacing-unit 0;
	bottom: $col-padding;
}

/* COLUMN 2 + 3 */

.col2 {
	position: absolute;
	
	> .wrapper {
		max-width: $content-width;
		padding: $col-padding + $body-padding;
		padding-left: $col-padding;		
	}
}

.col2 {
	margin-left: $body-padding + ($col-padding * 2) + $nav-width;
}


/**
 * Page content
 */

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit / 2;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

.post-link {
	display: block;
//	font-size: 24px;
}


/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}
