@include media-query($no-multicol) {
	.col2, .narrow-hide {
		display: none;
	}
}

@include media-query($on-tablet) {
	.col1, .col2, .col3 {
		padding: $col-padding !important;
		float: none;
		position: static;
		width: auto;
		background-color: $background-color;
	}
	
	.narrow-hide {
		display: none;
	}

	.site-header {
		margin-right: $nav-width; // to avoid collision with image
		// todo: instead move part of the head info to the bottom of the page when too narrow.
	}
	
	.site-header a small {
		display: inline;
	}

	h1.name span {
		display: inline;
		font-size: 0.8em;
	}
	h1.name span:before {
		content: '(';
	}
	h1.name span:after {
		content: ')';
	}

	#imagewrap {
		position: absolute;
		top: 15px;
		right: 15px;
		max-width: 50%;
	}
	
	.site-header ul {
		padding-left: 0px;
		li {
			display: inline-block;
			padding-right: 10px;			
		}
	}	

	.site-footer, .col2, .col3 {
		border-top: 1px solid #e5e5e5;
	}

	.col2, .col3 {
		margin: 0px !important;
	}
}

@include media-query($on-phone) {
	.col1, .col2, .col3 {
		padding: $small-padding;
	}

	h1.name span {
		font-size: 0.5em;
	}

	.site-header {
		margin-right: 0px;
	}
	#imagewrap {
		width: 100%;
		position: relative;
		right: 0px;
		top: 0px;
		max-width: none;
		padding-bottom: 0;
	}

}