@include media-query($on-tablet) {
	.col1, .col2 {
		float: none;
		position: static;
		width: auto;
		background-color: $background-color;
	}
	.col1 {
		padding: $col-padding !important;
	}
	.col2 {
		box-shadow: none;
		animation: none;
		> .wrapper {
			padding: $col-padding !important;
		}
	}
	
	.narrow-hide {
		display: none;
	}

	.site-header {
		margin-right: $nav-width; // to avoid collision with image
		// todo: instead move part of the head info to the bottom of the page when too narrow.

		a small {
			display: inline;
		}
		
		h1.name span:before {
			content: '(';
		}
		h1.name span:after {
			content: ')';
		}

	
		#imagewrap {
			position: absolute;
			top: 15px;
			right: 15px;
			max-width: 50%;
		}
	
		ul {
			padding-left: 0px;
			li {
				display: inline-block;
				padding-right: 10px;			
			}
		}	
	}
	
	.site-footer, .col2 {
		border-top: 1px solid #e5e5e5;
	}

	.col2 {
		margin: 0px !important;
	}
}

// responsive narrow
@include media-query($on-phone) {
	.col1 {
		padding: $small-padding;
	}
	.col2 {
		> .wrapper {
			padding: $small-padding;
		}
	}

	.site-header {
		margin-right: 0px;

		h1.name, p {
			margin-right: 120px;
		}

		h1.name span {
			display: block;
			font-size: 0.5em;
		}
		
		#imagewrap {
			position: absolute;
			top: 15px;
			right: 15px;
			max-width: 50%;
			width: 130px !important;
		}

		#image {
			display: none;
		}
		#image-sq {
			display: block;
			width: 130px;
			height: 130px;
		}
	}
}

@include media-query($on-smallphone) {
	.site-header p span {
		display: inline;
	}	
}
