@use "vars" as *;

/* 
  NOSIDEBAR
 */

body.nosidebar {
	.col2 {
		margin-left: $body-padding;
		max-width: $content-width + $nav-width + ($col-padding * 2);
	}
	.site-footer {
		display: none;
	}
}
