---
layout: default
---

<div class="paper">
{% assign paper = page.paper %}

	{% if paper.title %}
	<header class="post-header">
		<h1 class="post-title">{{ paper.title }}</h1>
	</header>
	{% endif %}

	<article class="post-content">

		<div class='citation'>
		<p>{% include research-single-formal.html paper=paper %}</p>
		</div>
		
		{% if paper.project != null %}
		<p class='post-meta'><strong>Project:</strong> <a class='pill' href='/projects/#{{ paper.project | uri_escape }}'>{{ site.data.projects[paper.project]['title'] | markdownify | replace: '<p>','' | replace: '</p>','' }}</a></p>
		{% endif %}
		
		{% if paper.abstract %}
		<blockquote>{{paper.abstract | newline_to_br }}</blockquote>
		{% endif %}

		{% include files.html files=paper.files %}

		<p class='post-meta'><strong>Keywords:</strong> 
		{% for keyword in paper.keywords %}
			<a class='pill' href='//google.com/search?q={{ keyword | prepend: '"' | append: '"' | uri_escape }}%20site:mitcho.com%20inurl:/research/%20filetype:html'>{{ keyword }}</a>
		{% endfor %}
		</p>
	</article>
</div>
