---
layout: default
---
<div class="post">

	{% if page.title %}
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
	</header>
	{% endif %}

	<article class="post-content">
		{{ content }}
		
		{% for project in site.data.projects %}
			{% assign projects = (site.pages | where_exp:"page","page.projects contains project") %}
			{% for link in projects %}
<h3><a href='{{ link.url | urlescape }}'>{{ link.title | markdownify | replace: '<p>','' | replace: '</p>','' }}</a></h3>
			{% endfor %}
		{% endfor %}
	</article>

</div>
